.header-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 9;
  background: #fff !important;
}
.navbar-default, .navbar-fixed-top {
  /* background: rgba(0, 0, 0, 0) none repeat scroll 0 0; */
  background: #fff !important;
}
.nav.navbar-nav.navbar-right, .stick .nav.navbar-nav.navbar-right {
  background-color: #fff;
  padding: 0;
  margin-top: 0;
}
/*
.main-menu ul.navbar-nav li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  padding: 24px 0px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.main-menu ul.navbar-nav li a:hover {
  color: #3EC1D5;
}
.main-menu ul.navbar-nav li.active a:hover {
  background: none;
  color: #000 !important;
}
.main-menu ul.navbar-nav li.active a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: green;
  position: relative;
}*/
.navbar-brand > img {
  display: block;
  margin-top: -13px;
}
.locat{
  wdith:100%;
}
.schedule p {
  background: #29439b;
  color: #fff;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  margin: 3px;
}
.social .sall i {
  font-size: 18px;
  padding: 1px;
}
.social .sall a {
  color: #29439b;
  font-size: 15px;
}
.social .sall .fa.fa-facebook {
  /*background: #4267b2;
  color: #fff;*/
  color:#4267b2;
  padding: 6px;
}
.social .sall .fa.fa-google-plus{
  /* background: #cd4539;
  color: #fff;*/
  color:#cd4539;
  padding: 6px;
}
.social .sall .fa.fa-twitter{
  /*background: #1da1f2;
  color: #fff;*/
  color:#1da1f2;
  padding: 6px;
}
.social .sall .fa.fa-linkedin{
/*background: #0177b5;
  color: #fff;*/
  color:#0177b5;
  padding: 6px;
}
.social .sall .fa.fa-whatsapp{
  /*background: #45c455;
  color: #fff;*/
  color:#45c455;
  padding: 6px;
}
.social .sall .fa.fa-skype{
  /*background: #1eb7ec;
  color: #fff;*/
  color:#1eb7ec;
  padding: 6px;
}
.schedule {
  padding-top: 28px;
}
.locat {
  padding-top: 10px;
}
.soc {
  padding-top: 6px;
}
.col-md-6.text-right.climg img {
  margin-left: 179px;
}
.col-md-6.text-right.clnum .number,.number {
  color: #29439b;
  font-weight: bold;
}



.srvt h4 {
  font-size: 23px;
  color: #fff;
}
.team-content.text-center.srvt {
  background: #29439b;
}
.stest-overly {
  /* background: rgba(0, 0, 0, 0.80); */
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dcdfe8;
}
/* ===============================owl carousel ======================*/
  .item{
  opacity:0.4;
  transition:.4s ease all;
  margin:0 20px;
  transform:scale(.8);
}
@media(max-width:1000px){
  .item{
    margin:0; 
    transform:scale(.9)
  }
}
.active .item{
  opacity:1;
  transform:scale(1);
} 


.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.inner{
  position:absolute; 
  bottom:30px; 
  left:0; 
  right:0; 
  text-align:center;
}
.inner a{
  color:#fff; 
  text-decoration:none; 
  border-bottom:2px solid rgba(255,255,255,0.5); 
  transition:.3s ease border-color;
}
.inner a:hover{
  border-color:#fff;
}
.black .inner a{
  color:#000; 
  border-color:rgba(0,0,0,0.4);
}
.black .inner a:hover{
  border-color:#000;
}

.owl-carousel:after{
  content:""; 
  display:block; 
  position:absolute; 
  width:8%; 
  top:0; 
  bottom:0; 
  left:50%; 
  margin-left:-4%; 
  pointer-events: none; 
  background-size:100% auto;
}
/*.owl-prev, .owl-next {
  background: #29439b;
  width: 46px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 6px;
}
.owl-next {
  text-align: right;
  margin-top: -33px;
  margin-left: 96%;
}*/
.owl-controls{position:absolute; margin-top:300px;}

/* ===============================owl carousel ======================*/
.our-stories.fix.hidden-sm .item img {
  box-shadow: 0 0 10px #29439b;
}

.our_team .tab-content {
  /* border: 1px solid #ccc; */
  padding: 0 15px 15px;
  border-left: 1px solid #ccc !important;
  border-right: 1px solid #ccc !important;
  border-bottom: 1px solid #ccc !important;
  border-top: 0px solid #ccc !important;
}
.tab-inner {
  padding-top: 20px;
}
.suscribe-area {
  background: #29439b none repeat scroll 0 0;
  padding: 30px 0;
}
.sus-btn {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #fff;
  color: #29439b;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-left: 100px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
}
.sus-btn:hover {
  background: #29439b none repeat scroll 0 0;
  border: 2px solid #fff;
  color: #fff;
}
.faq-details h4.check-title a.active, .faq-details a.active span.acc-icons::before {
  color: #29439b;
}
.back-to-top {
  position: fixed;
  display: none;
  background: #29439b;
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}
.copyright a, .credits a {
  color: #29439b;
  font-weight: bold;
}
.about-area {
  background-color: #fff;
}
.sidebar {
  box-shadow: 0 0 6px #ccc;
  min-height: 360px;
}
.layer-1-2 h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
}
.stest-overly {
  /* background: rgba(0, 0, 0, 0.80); */
  position: absolute;
  width: 100%;
  height: auto;
  background: #dcdfe8;
}
.blue {
  color: #29439b;
  font-weight: bold;
}
.sidebar .radd {
  padding: 10px;
}
#about p{
  padding:10px;
}
.galPic {
  margin: 16px 0px;
  background: #4bacc6;
  padding: 3px;
}
.galPic p{
  color:#fff;
}
.locat {
  margin-top: 53px !important;
}
.tagline {
  color: #000;
}



/* === Old nav code ==== */
.navbar .dropdown:hover .dropdown-menu {
  display: block;
  background: #4bacc6 !important;
  overflow: hidden;
   transition-delay: 2s;
    -webkit-transition: opacity .5s ease-in-out; 
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s  ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
.navbar ul li{
   transition: .5s;
}
.navbar ul li:hover, .navbar .active{
  background: #215967;
  transition: .5s;
}
.navbar ul li a:hover{
  color:yellow !important;
}
.dropdown:hover .dropdown-menu li a {
  padding: 6px 1px !important;
  border-bottom: 1px solid #fff;
}
.dropdown .dropdown-menu li a:hover {
  color:#bb780d;
}
.dropdown:hover .dropdown-menu li:last-child a {
 border-bottom: none !important;
}

.dropdown.open ul {
background: #4bacc6 !important;
}
.dropdown.open ul li a {
  padding: 6px 1px;
  border-bottom: 1px solid #fff !important;
}
.dropdown.open ul li:last-child a{
  border-bottom: none !important;
}
.dropdown-menu {
  border-radius: 0px !important;
}





/* === New nav code ==== */
#navbar-example {
  background: #4bacc6;
  padding-left: 0px;
  margin-top: 6px;
}
.navbar{
  background: #4bacc6;
}
.navbar li a{
  color:#fff !important;
  font-weight: bold;
}
.main-menu ul.navbar-nav li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 0px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

@media only screen and (max-width: 767px) {
  .locat {
      margin-top: 96px !important;
    }
.nav.navbar-nav li {
    padding-left: 20px !important;
  }
.slider-area {
    margin-top: 3px !important;
  }
  .navbar.navbar-default.navbar-fixed-top {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
  .testi-text.text-center p {
    padding: 6px; 
  }
}

.navbar-default .navbar-toggle, .stick .navbar-default .navbar-toggle {
  padding: 6px 15px !important;
  border:1px solid #215967;
}


.carousel-3d-container figure {
  margin: 0;
}

.carousel-3d-container figcaption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  bottom: 0;
  position: absolute;
  bottom: 0;
  padding: 15px;
  font-size: 12px;
  min-width: 100%;
  box-sizing: border-box;
}
.navbar.navbar-default.navbar-fixed-top {
  padding-left: 104px;
  padding-right: 103px;
}
.breadcrumb {
  padding: 1px 6px;
  /* margin-bottom: 20px; */
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-left: 14px;
  margin-right: 15px;
}
.breadcrumb h6 {
  margin: 0px;
  padding: 6px 0px;
}
.srvarea {
  box-shadow: 0 0 10px #ccc;
  padding: 10px;
  margin-bottom: 20px;
}
.stext {
  background: #4bacc6;
  padding: 3px 3px;
}
.stext h4 {
  background: #215967;
  padding: 6px;
  text-align: center;
  font-size: 21px;
  margin-top: 3px;
  transition: 0.3s;
}
.stext h4 a {
  color: #fff;
  transition: 0.3s;
}
.stext p {
  color: black;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  width: 33%;
}
#blog .this{
  margin-bottom: 60px;
}
#ensign-nivoslider .title2 {
  font-size: 25px;
  padding: 0px 72px;
  line-height: 46px;
}

@media only screen and (max-width: 520px) {
   #ensign-nivoslider .title2 {
    font-size: 16px !important;
    padding: 0px 0px;
    line-height: 16px !important;
  }
}
.stext h4:hover {
  background: #fff;
  transition: 0.3s;
}
.stext h4:hover a {
  color: #215967;
  transition: 0.3s;
}
.file {
  padding: 0px 10px;
}
.mail .fa {
  color: #fe0d0d;
}
.mail a {
  text-decoration: none;
  color: #2943b4;
  /* font-weight: bold; */
}
@media only screen and (max-width: 450px) {
  .tagline strong {
  font-size: 11px;
}
}

.team-social-icon {
  left: 33% !important;
  margin-left: -61px;
  opacity: 0;
  position: absolute;
  top: 30%;
  transition: 1.3s;
}
.ql ul li a {
  text-decoration: none;
  color: #29439b;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  transition: 0.3s;
}
.ql ul li:hover a {
  color:#000;
  transition: 0.3s;
}
.ql ul li:last-child a{
  border:none;
}
.ql ul li::before{
   content:"❱";
}
.fadd {
  padding-left: 20px;
}
.ql ul li {
  padding: 5px 0px;
  border-bottom: ;
}
.owl-carousel.mySuc .inner a {
  text-decoration: none !important;
  border-bottom: none;
  background: black;
  color: #fff;
  padding: 3px;
}
/*
.count {
  width: 173px;
  height: 173px;
  border-radius: 50%;
  border: 18px solid #3ec1d5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
  font-family: verdana;
  float: left;
  margin: 30px;
  text-shadow: 1px 1px black;
  -webkit-box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);
} 

.single-skill.ratio {
  padding: 30px 26px;
}

.progress-h4 {
  color: #fff;
  font-weight: 500;
  width: 200px;
}

*/
/* ========= count ========== */
.noMergright {
  padding-right: 0px;
}
.noMergleft {
  padding-left: 0px;
}
.area-paddingT {
  padding: 70px 10px 80px;
}
.rborder{
  border-right: 1px solid #fff;
}
.lborder{
  border-left: 1px solid #fff;
}
.ticon.text-center .fa {
  color: #fff;
  font-size: 7em;
}
.count {
  font-family: 'Alfa Slab One', cursive;
  font-size: 4em;
  color: #fff;
  padding-top: 26px;
}
.countTit {
  margin: 20px 0px;
  color: #fff;
  font-weight: bold;
}
/* ========= count ========== */












@media only screen and (max-width: 767px) {
   .progress-circular {
  margin-right: 96px;
}
}

.table-responsive {
  min-height: .01%;
  overflow-x: visible;
}

.ttext.text-center {
  border: 1px solid #ccc;
  width: 76%;
}
.ttext.text-center img {
  margin-top: -56px;
}
.com {
  line-height: 0px;
  font-size: 13px;
}
.Mycon {
  margin-bottom: 43px;
}
.testi.text-justify {
  padding-left: 12%;
  margin-bottom: 80px;
}
.conborder {
  border-color: #f47710;
  margin-top: 0px;
  margin-bottom: 6px;
}
.cname {
  margin-bottom: 6px;
  color: #29439b;
  font-weight: bold;
}
.addrs strong {
  padding-left: 10px;
}
.conOne .row {
  margin-bottom: 24px;
}
.Success {
  padding: 14px;
}
fieldset {
  min-width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}
.vbox-title {
  width: 100%;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 28px;
  font-size: 16px;
  padding: 6px 40px;
  overflow: hidden;
  position: fixed;
  display: none;
  left: 0;
  z-index: 1050;
}
.stitle {
  margin-top: 9px;
  padding-left: 8px;
  margin-bottom: 1px;
}
.stitle a{
  color: #fff;
  font-weight: bold;
}
@media only screen and (max-width: 990px) {
   .galPic {
      margin: 16px 0px;
      background: #4bacc6;
      padding: 3px;
      margin-top: 106px;
    }
}
.number a {
  text-decoration: none;
  color: #29439b;
}
.fimg {
  padding-left: 20px;
}

/*mobil view header flag*/
@media only screen and (min-width: 360px) {
   .locat {
      margin-top: 8px !important;
      text-align: right;
      margin-bottom: 40px;
    }
    .col-md-6.text-right.climg img {
      margin-left: 138px;
    }
    .col-md-6.text-right.clnum {
      margin-top: -19px;
    }
}
@media only screen and (min-width: 420px) {
   .locat {
      margin-top: 8px !important;
      text-align: right;
      margin-bottom: 40px;
    }
    .col-md-6.text-right.climg img {
      margin-left: 190px;
    }
    .col-md-6.text-right.clnum {
      margin-top: -19px;
    }
}

@media only screen and (min-width: 450px) {
   .locat {
      margin-top: 8px !important;
      text-align: right;
      margin-bottom: 40px;
    }
    .col-md-6.text-right.climg img {
      margin-left: 160px;
    }
    .col-md-6.text-right.clnum {
      margin-top: -19px;
    }
}
@media only screen and (min-width: 514px) {
   .locat {
      margin-top: 29px !important;
      text-align: right;
      margin-bottom: 40px;
    }
   .col-md-6.text-right.climg img {
      margin-left: 233px;
    }
    .col-md-6.text-right.clnum {
      margin-top: -19px;
    }
}
@media only screen and (min-width: 514px) {
   .locat {
      margin-top: 29px !important;
      text-align: right;
      margin-bottom: 40px;
    }
   .col-md-6.text-right.climg img {
      margin-left: 285px;
    }
    .col-md-6.text-right.clnum {
      margin-top: -19px;
    }
}

@media only screen and (min-width: 556px) {
   .locat {
      margin-top: 29px !important;
      text-align: right;
      margin-bottom: 40px;
    }
   .col-md-6.text-right.climg img {
      margin-left: 327px;
    }
    .col-md-6.text-right.clnum {
      margin-top: -19px;
    }
}

@media only screen and (min-width: 596px) {
   .locat {
      margin-top: 29px !important;
      text-align: right;
      margin-bottom: 40px;
    }
   .col-md-6.text-right.climg img {
      margin-left: 368px;
    }
    .col-md-6.text-right.clnum {
      margin-top: -19px;
    }
}

@media only screen and (min-width: 630px) {
   .locat {
      margin-top: 29px !important;
      text-align: right;
      margin-bottom: 40px;
    }
   .col-md-6.text-right.climg img {
      margin-left: 409px;
    }
    .col-md-6.text-right.clnum {
      margin-top: -19px;
    }
}
@media only screen and (min-width: 680px) {
   .locat {
      margin-top: 29px !important;
      text-align: right;
      margin-bottom: 40px;
    }
   .col-md-6.text-right.climg img {
      margin-left: 453px;
    }
    .col-md-6.text-right.clnum {
      margin-top: -19px;
    }
}
@media only screen and (min-width: 720px) {
   .locat {
      margin-top: 29px !important;
      text-align: right;
      margin-bottom: 40px;
    }
    .col-md-6.text-right.climg img {
      margin-left: 496px;
    }
    .col-md-6.text-right.clnum {
      margin-top: -19px;
    }
}
@media only screen and (min-width: 767px) {
   .locat {
      margin-top: 29px !important;
      text-align: right;
      margin-bottom: 40px;
    }
    .col-md-6.text-right.climg img {
      margin-left: 160px;
    }
    .col-md-6.text-right.clnum {
      margin-top: -19px;
    }
}
@media only screen and (min-width: 800px) {
   .locat {
      margin-top: -82px !important;
      text-align: right;
      margin-bottom: 40px;
    }
    .col-md-6.text-right.climg img {
      margin-left: 523px;
    }
    .col-md-6.text-right.clnum {
      margin-top: -19px;
    }
}
@media only screen and (min-width: 867px) {
   .locat {
      margin-top: -82px !important;
      text-align: right;
      margin-bottom: 40px;
    }
    .col-md-6.text-right.climg img {
      margin-left: 523px;
    }
    .col-md-6.text-right.clnum {
      margin-top: -19px;
    }
}

@media only screen and (min-width: 990px) {
   .locat {
      margin-top: -83px !important;
      text-align: right;
      margin-bottom: 40px;
    }
    .col-md-6.text-right.climg img {
      margin-left: 528px;
    }
    .col-md-6.text-right.clnum {
      margin-top: -19px;
    }
}
@media only screen and (min-width: 1000px) {
   .locat {
      margin-top: 0px !important;
      text-align: right;
      margin-bottom: 40px;
    }
    .col-md-6.text-right.climg img {
      margin-left: 0px !important;
    }
    .col-md-6.text-right.clnum {
      margin-top: 2px !important;
    }
}
@media only screen and (min-width: 1199px) {
   .locat {
      margin-top: 20px !important;
      text-align: right;
      margin-bottom: 40px;
    }
    .col-md-6.text-right.climg img {
      margin-left: 92px !important;
    }
    .col-md-6.text-right.clnum {
      margin-top: 2px !important;
    }
}
@media only screen and (min-width: 1350px) {
   .locat {
      margin-top: 20px !important;
      text-align: right;
      margin-bottom: 40px;
    }
    .col-md-6.text-right.climg img {
      margin-left: 166px !important;
    }
    .col-md-6.text-right.clnum {
      margin-top: 2px !important;
    }
}

/* video slider */
.item {
  opacity: 0.8;
  transition: .4s ease all;
  margin: 0 0px; 
  transform: scale(.8);
}
.carousel-caption h2 {
  font-family: 'Alfa Slab One', cursive;
  color: #fff;
}
.logo a img {
  padding: 5px;
}
.vbox-title {
  width: 100%;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 28px;
  font-size: 16px;
  padding: 6px 40px;
  overflow: hidden;
  position: fixed;
  display: none;
  left: 0;
  z-index: 1050;
  margin-top: 500px;
  color: yellow !important;
  background: #215967 !important;
}
@media only screen and (max-width: 360px){
  .owl-carousel.mySuc .inner a {
    text-decoration: none !important;
    border-bottom: none;
    background: black;
    color: #fff;
    padding: 3px;
    display: none;
  }
  .vbox-title {
    width: 100%;
    height: 100px;
    float: left;
    text-align: center;
    line-height: 28px;
    font-size: 16px;
    padding: 6px 40px;
    overflow: hidden;
    position: fixed;
    display: none;
    left: 0;
    z-index: 1050;
    margin-top: 500px;
    color: yellow !important;
    background: #215967 !important;
    overflow: scroll;
  }
  .mySuc p {
  margin: 0 0 15px;
  color: yellow;
  background: #215967;
  display: none;
}
}

.lb-data .lb-number {
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999;
  display: none !important;
}
.mySuc .inner {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
}
.mySuc p {
  margin: 0 0 15px;
  color: yellow;
  background: #215967;
}
.mySuc p {
  margin: 0 0 15px;
  color: yellow;
  background: #215967;
}
/*----------------------------------------
 .End CSS
----------------------------------------*/
.red {
  color: red;
}
.green{
  color: green;
}


/*----------------------------------------
 Multifom css
----------------------------------------*/
.form-control {
  display: block;
  width: 100%;
  height: auto !important;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}